.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  padding: 0;
  margin-top: 5px;
}

table.mat-table{
  min-height: 200px;
}

mat-cell{
  font-size:12px;
}

mat-option{
  font-size:12px;
  margin:-5px 0 -5px 0;
}

/* Structure */

.example-container {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}